<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{! Load bootstrap through a CDN in production only. In dev, a local copy will be used instead. }}
    {{#if htmlWebpackPlugin.options.PRODUCTION}}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {{/if}}
    <title>{{htmlWebpackPlugin.options.title}}</title>
  </head>
  <body>
    <div id='app-container'></div>
  </body>
</html>
