<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{! Load bootstrap through a CDN in production only. In dev, a local copy will be used instead. }}
    {{! Note: `equal` helper comes from the `handlebars_helpers` directory.}}
    {{#equal htmlWebpackPlugin.options.NODE_ENV 'production'}}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {{/equal}}

    <title>{{htmlWebpackPlugin.options.title}}</title>
  </head>
  <body>
    <div id='app-container'></div>

  {{! Load popular JS libraries through a CDN in production only. In dev, a local copy will be used instead. }}
  {{#equal htmlWebpackPlugin.options.NODE_ENV 'production'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://npmcdn.com/react@15.3.0/dist/react.min.js"></script>
    <script src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.string/3.3.4/underscore.string.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/classnames/2.2.5/index.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/redux/3.5.2/redux.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-redux/4.4.5/react-redux.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/redux-thunk/2.1.0/redux-thunk.min.js"></script>
    <!-- Start of Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-81857827-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End of Google Analytics -->
  {{/equal}}

  {{! In development, just set `ga` to be a function that does nothing. Otherwise, `google-analytics` will resolve
  to `undefined` at run time}}
  {{#equal htmlWebpackPlugin.options.NODE_ENV 'development'}}
    <script>
      var ga = function() {}
    </script>
  {{/equal}}

  </body>
</html>
